body{
	margin: none;
	padding: none;
	font: sans-serif;
	
}

#Registration-form-container{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: powderblue;
}

#Registration-form{
	display: grid;
	grid-template-rows: auto 1fr auto;
	width: 400px;
	height: 550px;
	background-color: black;
	color: white;
	opacity: 0.9;
	border-radius: 80px; 
}

#Registration-form header{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	padding: 5px;
	background-color: #800000;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}

#Registration-form section form{
	display: flex;
	flex-direction: column;
	font-size: 14px;
	padding: 5%;
}


input{
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 3px; 
	border-radius: 8px; 
}

input [type = text]{
	width: 70%;
}

#to-date{
	padding-right: 20px;
	padding-left: 10px;
}

#from-date{
	padding-right: 15px;
	padding-left: 10px;
}

input[type = date]{
	width: 70%;
}

input [type="radio"]{
	margin-left: 10%;
	color: red;
}

#form-submit
{
	width: 30%;
	margin-left: 35%;
}

#form-submit:hover{
	border-color: green;
}

input:focus{
	border:none;
	background-color: #FFFDD0;
}

#leave-radio{
	border: none;
	margin-top: 10px;
}