body{
	margin: none;
	padding: none;
	font: sans-serif;	
}

a{
	text-decoration: none;
}

.flex-center{
	display: flex;
	flex-direction: column;
}

#RegistrationFormContainer{
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: powderblue;
}

#RegistrationForm{
	display: grid;
	grid-template-rows: auto 1fr auto;
	width: 400px;
	height: 550px;
	background-color: black;
	color: white;
	opacity: 0.9;
	border-radius: 80px; 
}

#RegistrationForm header{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	padding: 5px;
	background-color: #800000;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}

#RegistrationFormContent{
	font-size: 14px;
	padding: 5%;
}


input{
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 3px; 
	border-radius: 8px; 
}

.text-input:focus, .date-input:focus{
	border:none;
	background-color: #FFFDD0;
	outline: none;
}


.text-input{
	margin-left: 2%;
	width: 90%;
}

.date-input{
	width: 70%;
	cursor: text;
}

.radio-input{
	margin-left: 10%;
	color: red;
}

.file-input:focus{
	border:none;
	outline: none;
}

#ToDate{
	padding-right: 20px;
	padding-left: 10px;
}

#FromDate{
	padding-right: 15px;
	padding-left: 10px;
}

#LeaveRadio{
	border: none;
	margin-top: 10px;
}

#FormSubmitButton
{
	width: 30%;
	margin-left: 35%;
	cursor: pointer;
}

#FormSubmitButton:hover{
	background-color: #888;
}


#ListContainer{
	display: none;
	justify-content: center;
	height: 100vh;
}

#ListBox{
	width: 80%;
	margin-top: 50px;
	justify-content: flex-start;
}

#FilterNames {
	width: 94%; 
	font-size: 16px; 
	padding: 12px 10px 12px 40px;
	border: 1px solid #ddd; 
	margin-bottom: 12px; 
  }

#AddButtonContainer{
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.all-button{
	width: 200px;
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 16px;
	font-style: bold;
	cursor: pointer;
	background-color: green;
	border: 1px solid black;
}

.all-button:hover{
	box-shadow: 5px 5px lightgreen;
}


#ListContent{
	margin-top: 50px;
}

.table-caption{
	font-size: 20px;
	color: #022d36;
	margin-bottom: 20px;
	font-style: bold;
}

.leave-table-body:nth-child(even) {
  background-color: #eee;
}

.leave-table-body:nth-child(odd) {
  background-color: #fff;
}

.leave-table-head{
  background-color: #999;
}

#LeaveTable, .leave-table-head th, .leave-table-body td
{
	border-collapse: collapse;
	padding: 5px 15px;
	border-spacing: 20px;
	text-align: left;
}

.leave-table-head th, .leave-table-body td{
	border: 1px solid black;
}

.leave-table-img
{
	height: 50px;
	width: 50px;
	cursor: pointer;
}

.edit-delete-button{
	text-align: center;
	margin-right: 10px;
	padding: 3px 6px;
	cursor: pointer;
	color: navy;
}

.edit-delete-button:hover{
	background-color: #bbb;
}
