body{
	margin: none;
	padding: none;
	font: sans-serif;	
}

a{
	text-decoration: none;
}

.flex-center{
	display: flex;
	flex-direction: column;
}

#RegistrationFormContainer{
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: powderblue;
	display: none;
}

#RegistrationForm{
	display: grid;
	grid-template-rows: auto 1fr auto;
	width: 400px;
	height: auto;
	background-color: black;
	color: white;
	opacity: 0.9;
	border-radius: 80px; 
}

#RegistrationForm header{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	padding: 5px;
	background-color: #800000;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}

#RegistrationFormContent{
	font-size: 14px;
	padding: 5%;
}


input{
	padding: 10px;
	border-radius: 8px; 
	margin-bottom:3px;
	margin-top: 0px;
}

.ErrorMessage{
	color: red;
	font-size: 12px;
	border: none;
	margin-top: none;
	margin-bottom: 10px;
	margin-right: none;
	margin-left: 20px;
}



.text-input:focus, .date-input:focus{
	border:none;
	background-color: #FFFDD0;
	outline: none;
}

#PreviewImage{
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 0px;
}

.text-input{
	margin-left: 2%;
	width: 90%;
}

.date-input{
	width: 70%;
	cursor: text;
}

.radio-input{
	margin-left: 10%;
	color: red;
}

.file-input{
	display: inline-block;
}

.file-input:focus{
	border:none;
	outline: none;
}

#ToDate{
	padding-right: 20px;
	padding-left: 10px;
}

#FromDate{
	padding-right: 15px;
	padding-left: 10px;
}

#LeaveRadio{
	border: none;
}

.button-container{
	text-align: center;
}

.form-button{
	display: inline-block;
	width: 20%;
	height: 30px;
	cursor: pointer;	
}

.form-button:hover{
	background-color: #888;
}


#ListContainer{
	display: flex;
	justify-content: center;
	height: 100vh;
}

#ListBox{
	width: 80%;
	margin-top: 50px;
	justify-content: flex-start;
	align-items: center;
}

#FilterNames {
	width: 80%; 
	font-size: 16px; 
	padding: 12px 10px 12px 20px;
	border: 1px solid #ddd; 
	margin-bottom: 10px; 
  }

#AddButtonContainer{
	height: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: center;
}

.all-button{
	width: 80px;
	height: 80px;
	padding: 10px;
	margin: 10px;
	margin-right: 70px;
	text-align: center;
	line-height: 80px;
	border-radius: 50%;
	color: white;
	font-size: 20px;
	font-style: bold;
	cursor: pointer;
	background-color: green;
}

.all-button:hover{
	box-shadow: 5px 5px lightgreen;
}

#ListContent{
	margin-top: 10px;
}

.caption{
	margin-bottom: 20px;
	margin-left: 10px;
}

.leave-table-body:nth-child(even) {
  background-color: #eee;
}

.leave-table-body:nth-child(odd) {
  background-color: #fff;
}

#LeaveTable
{
	border-spacing: 0ch;
	align-self: center;
}

.leave-table-head{
  background-color: #999;
}

#LeaveTable, .leave-table-head th, .leave-table-body td{
	border-collapse: collapse;
	padding: 5px 15px;
	text-align: left;
}

.leave-table-head th, .leave-table-body td{
	border-collapse: collapse;
	border: 1px solid black;
	min-width: 80px;
}

.header-with-sort{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: fit-content;
}


.sort-button{
	cursor: pointer;
	margin-left: 15px;
	min-width: 15px;
	min-height: 10px;
}

.asc{
	background-image: url("resources/black-triangle-up.png");	
	margin-bottom: 1px;
}

.desc{
	background-image: url("resources/black-triangle-down.png");
}

.asc, .desc{
	background-size: 70%;
	background-repeat: no-repeat;
}

.leave-table-img
{
	height: 50px;
	width: 50px;
	cursor: pointer;
}

.edit-delete-button{
	text-align: center;
	margin-right: 10px;
	padding: 3px 6px;
	cursor: pointer;
	color: navy;
}

.edit-delete-button:hover{
	background-color: #bbb;
}
